project: kuberlytics             #Project name can be anything, but it should already be created.
cluster_name: kuberlytics         #Name your cluster whatever you like
region: us-east1               #Selection from gcloud compute regions list.
zone: us-east1-b                  #Selection from gcloud compute regions list.
machine_type: n1-highmem-2        #Type of Server
num_nodes: 1                      #The default number of nodes (servers)
max_nodes: 3                      #Maximum number of nodes (servers)
account: <your email>     #Email Associated with the account.
authorization_file: auth.json     #Service account authorization file.
service_account_name: <your account name>  #Service account name. 
